@import url('./persianfont.css');

body {
    direction: rtl;
    font-family: "IRANSans";
    background-color: darkslategray;
    color: floralwhite;
}
.__header-style {
    text-align: right;
    padding: 25px 0;
    border-bottom: gray 2px solid;
}
.card-body {
    text-align: center;
    padding: 0.5rem;
    height: 151px;
}
.card-title {
    color: yellowgreen;
}
.__holiday-style {
    color: whitesmoke;
    text-align: center;
}
.__table-style {
    height: 50px;
}
.__click-event {
    font-size: 14px;
    padding-top: 10px;
    color: black;
    border: none;
    background-color: transparent;
}
.__click-event-holiday {
    font-size: 25px;
    width: 100%;
    padding-top: 10px;
    color: white;
    border: none;
    background-color: transparent;
}
.col-1-7{
    width:14.2857%;
}
.today-border{
    border:solid 2px #1dc2fd;
    border-radius: 5px;
}
.bg-holiday{
    background-color: #e3ecf8;
}