@import url('./persianfont.css');

body {
    direction: rtl;
    font-family: "IRANSans";
    background-color: darkslategray;
    color: floralwhite;
}
.__header-style {
    text-align: right;
    padding: 25px 0;
    border-bottom: gray 2px solid;
}
.card-body {
    text-align: center;
    padding: 0.5rem;
    height: 151px;
}
.card-title {
    color: yellowgreen;
}
.__holiday-style {
    color: whitesmoke;
    text-align: center;
}
.__table-style {
    height: 50px;
}
.__table-style td{
    width: 14.2857142857%;
}
.__click-event {
    font-size: 14px;
    padding-top: 10px;
    color: black;
    border: none;
    background-color: transparent;
}
.__click-event-holiday {
    font-size: 25px;
    width: 100%;
    padding-top: 10px;
    color: white;
    border: none;
    background-color: transparent;
}
.col-1-7{
    width:14.2857%;
}
.today-border{
    border:solid 2px #1dc2fd;
    border-radius: 5px;
}
.bg-holiday{
    background-color: #e3ecf8;
}
.pointer{
    cursor: pointer;
}
.flags{
    position: content;
    top: 0;
    z-index: 10;
    transition: all .3s ease;
    opacity: 1;
    left: 0;
    width: 100%;
}
.flags a{
    margin-bottom: 5px;
    background: #3788d8;
    display: block;
    float: left;
    clear: both;
    color: #fff;
    padding: 0 7px;
    line-height: 20px;
    height: 20px;
    font-size: 10px;
    text-decoration: none;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    width: 100%;
    transition: 1s;
}
.flags a:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: medium;
    -webkit-transition: .4s,opacity .3s;
    -moz-transition: .4s,opacity .3s;
    -o-transition: .4s,opacity .3s;
    transition: .4s,opacity .3s;
}
.flags a:before {
    content: attr(data-hover);
    -webkit-transform: translate(-110%,0);
    -moz-transform: translate(-110%,0);
    -ms-transform: translate(-110%,0);
    -o-transform: translate(-110%,0);
    transform: translate(-110%,0);
}

.flags a:hover span{
    opacity: 0;
}
.flags a:hover:before{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

.hidden{
    display: none;
}
.pointer{
    cursor: pointer;
}